$primary: #3a4f69;
$secondary: #ba7ba1;
$dark-blue: #191f32;
$really-dark-blue: #111623;

$font-text: 2rem;
$font-big-text: 2.5rem;
$font-small: 1.6rem;
$font-tiny: 1.2rem;
$font-small-head: 3rem;
$font-med-head: 5rem;
$font-big-head: 6rem;
$font-massive-head: 10rem;
